.data-summary {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
margin-left: 14px;
overflow-x: hidden;
white-space: nowrap; 
}

.leaflet-right .leaflet-control {
margin-right: 20px;
}


.data-summary .summarylabel,
.data-summary .summaryvalue {
    display: inline-block;
overflow-x: hidden;


}

.data-row {
    margin-bottom: 1.5em;
overflow-x: hidden;
}

.elevation-detached.elevation-collapsed .elevation-toggle-icon {
    top: .5em;
}




.leaflet-sidebar-content img {
max-width: 95%;
}

/*  ---------------    */

.custom-theme.elevation-control .area path.altitude,
.custom-theme .legend-altitude rect.area {
    fill: rgba(73, 73, 73, 0.95);  /* fallback color */
    fill-opacity: 0.9;
    stroke: rgba(255, 255, 255,.5);
    stroke-width: 1.5;
}

.custom-theme.elevation-control .grid .tick line  {
stroke: rgba(255, 255, 255,.0)!important;
}

.custom-theme.elevation-control .area path.slope,
.custom-theme .legend-slope rect {
    fill: url(#blob-pattern);
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 1.5;
}


.custom-theme.elevation-control .axis line, 
.custom-theme.elevation-control .axis path {
stroke: #fff;
}

.custom-theme.elevation-control .axis text {
stroke: none;
color: #fff;
fill: #fff;
font-weight: 400;
}

.custom-theme.height-focus.circle-lower {
    fill: #FF0;
}

.custom-theme.elevation-polyline {
    stroke: #F00;
    stroke-opacity: 1;
    stroke-width: 2;
}

.custom-theme.elevation-polyline-segments {
    stroke: #FF0;
    stroke-width: 2;
    stroke-dasharray: 4;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch p {
      margin-left: 80px;
      margin-top: 4px;
      width: 400%;
      font-size: 15px;;
  }


  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }