.data-summary {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
margin-left: 14px;
overflow-x: hidden;
white-space: nowrap; 
}

.leaflet-right .leaflet-control {
margin-right: 20px;
}


.data-summary .summarylabel,
.data-summary .summaryvalue {
    display: inline-block;
overflow-x: hidden;


}

.data-row {
    margin-bottom: 1.5em;
overflow-x: hidden;
}

.elevation-detached.elevation-collapsed .elevation-toggle-icon {
    top: .5em;
}




.leaflet-sidebar-content img {
max-width: 95%;
}

/*  ---------------    */

.custom-theme.elevation-control .area path.altitude,
.custom-theme .legend-altitude rect.area {
    fill: rgba(73, 73, 73, 0.95);  /* fallback color */
    fill-opacity: 0.9;
    stroke: rgba(255, 255, 255,.5);
    stroke-width: 1.5;
}

.custom-theme.elevation-control .grid .tick line  {
stroke: rgba(255, 255, 255,.0)!important;
}

.custom-theme.elevation-control .area path.slope,
.custom-theme .legend-slope rect {
    fill: url(#blob-pattern);
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 1.5;
}


.custom-theme.elevation-control .axis line, 
.custom-theme.elevation-control .axis path {
stroke: #fff;
}

.custom-theme.elevation-control .axis text {
stroke: none;
color: #fff;
fill: #fff;
font-weight: 400;
}

.custom-theme.height-focus.circle-lower {
    fill: #FF0;
}

.custom-theme.elevation-polyline {
    stroke: #F00;
    stroke-opacity: 1;
    stroke-width: 2;
}

.custom-theme.elevation-polyline-segments {
    stroke: #FF0;
    stroke-width: 2;
    stroke-dasharray: 4;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch p {
      margin-left: 80px;
      margin-top: 4px;
      width: 400%;
      font-size: 15px;;
  }


  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #disclaimer-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #disclaimer-box{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    width: 35%;
    color: white;
    transform: translate(-50%,-50%);
    background-color: rgba(54, 54, 54, 1);
    -ms-transform: translate(-50%,-50%);
    padding: 3vh;
    border-radius: 4px;
    display: table;
  }
  #disclaimer-box h3, #disclaimer-box p {
    display: table-row;
    text-align: center;
  }

  #disclaimer-box .button, #disclaimer-box .a.button {
    background-color: #4685d6;
    border: none;
    color: white;
    width: 70%;
    padding: 14px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 15%;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
 
    display: table;
  }

  #leaflet-popup-tip-container {
    display: none;

  }